.Main {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 6px solid white;
    border-radius: 8px;
    width: 100%;
    /* height: 345px; */
    padding: 0;
    margin: 0;
    gap: 6px;
}

.Rows {
    display: flex;
    gap: 6px;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .Main {
        width: 700px;
        height: 700px;
        padding: 0;
    }
}