.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;  
    padding: 20px; 
    box-sizing: border-box; 
}

.Hints {
    display: flex;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    background-color: rgb(30,40,200);
    position: absolute;
    top: 880px;
    right: 640px;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 28px;
}

.ButtonDiv {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.Exit, .Pause, .Undo, .Reset, .Redo, .Eraser, .Pencil, .Bulb {
    background-color: rgb(30,40,200);
    border-radius: 8px;
    padding: 6px;
    margin: 8px;
}


.Exit:hover, .Pause:hover, .Undo:hover, .Reset:hover, .Redo:hover, .Eraser:hover, .Pencil:hover, .Bulb:hover { 
    background-color: black;
    outline: 2px solid white;
}


.Exit:active, .Pause:active, .Undo:active, .Reset:active, .Redo:active, .Eraser:active, .Pencil:active, .Bulb:active {
    scale: 90%;
}