.Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 98vh;
    z-index: -1;
    border: 8px solid white;
    border-radius: 8px;
}

.Options {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.Settings, .Controls, .Inst, .Start, .Resume {
    border-radius: 8px;
    padding: 8px;
    position: absolute;
}

.Settings {
    width: 150px;
    left: 600px;
    top: 10px;
}

.Controls {
    width: 190px;
    left: 775px;
    top: -25px;
}

.Inst {
    width: 160px;
    right: 575px;
    top: 10px;
}

.Start {
    width: 100px;
    height: 60px;
    top: 910px;
    left: 650px;
}

.Resume {
    width: 160px;
    top: 910px;
    left: 760px;
}

.Start:hover, .Resume:hover {
    cursor: pointer;
}

.Start:active, .Resume:active {
    transform: scale(0.75);
}